<p-dialog header="Realizar nova oferta" [(visible)]="displayOferta" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    
    <app-ficha-item [id]="novaOferta.itemId"></app-ficha-item>

    <p-pickList [source]="itemSource" [target]="itemTarget" sourceHeader="Seus itens" targetHeader="Itens ofertados" [responsive]="true"
    filterBy="nome" dragdrop="true" sourceFilterPlaceholder="Buscar por nome" targetFilterPlaceholder="Buscar por nome"
    [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">

        <ng-template let-item pTemplate="item">
            <div class="ui-helper-clearfix">
                <img [src]="item.imagem" width="50">
                <div class="item-detalhe">
                    {{ item.nome }} - {{ item.categoriaId }}
                    <hr>
                    {{ item.descricao }}
                </div>
            </div>
        </ng-template>
        
    </p-pickList>

    <p-footer>
        <button pButton type="button" icon="pi pi-check" label="Ofertar" class="ui-button-raised ui-button-success"
        [disabled]="itemTarget == 0" (click)="salvarOferta()" ></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayOferta=false" label="Cancelar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>