<h3>LISTAGEM DE ITENS</h3>
<p-dataView #dv [value]="itens" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="nome"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="p-col-6 p-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Buscar por nome" (input)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="p-col-6 p-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-item pTemplate="listItem">
        <div class="p-col-12">
            <div class="car-details">
                <div>
                    <img src="">
                    <div class="p-grid">
                        <div class="p-col-12">NOME: <b>{{ item.nome }}</b></div>
                        <div class="p-col-12">DONO: <b>{{ item.usuarioId }}</b></div>
                        <div class="p-col-12">CATEGORIA: <b>{{ item.categoriaId }}</b></div>
                        <div class="p-col-12">DESCRICAO: <b>{{ item.descricao }}</b></div>
                    </div>
                </div>
                <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, item)"></button>
            </div>
        </div>
    </ng-template>
    <ng-template let-car pTemplate="gridItem">
        <div style="padding:.5em" class="p-col-12 p-md-3">
            <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
                <img src="" width="60">
                <div class="car-detail">{{car.year}} - {{car.color}}</div>
                <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, item)" style="margin-top:0"></button>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Car Details" [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true" 
    [style]="{width: '225px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '2em', textAlign: 'center'}">
    <div *ngIf="selectedItem">
        <img src="">
        <strong>{{ selectedItem.nome }} - {{ selectedItem.categoriaId }}</strong>
        <p>{{ selectedItem.nome }}</p>
        <br>
        <p>{{ selectedItem.descricao }}</p>
    </div>
</p-dialog>