<block-ui>
    <form [formGroup]="form" (ngSubmit)="salvar()" class="form-login">
        <h3>CADASTRO DE USUÁRIO</h3>
        <div class="ui-fluid">
            <div class="p-field">
                <label for="nome">Nome</label>
                <input id="nome" formControlName="nome" type="text" pInputText> 
            </div>
            <div class="p-field">
                <label for="email">E-mail</label>
                <input id="email" type="email" formControlName="email" pInputText>
            </div>
            <div class="p-field">
                <label for="cpf">CPF</label>
                <p-inputMask mask="999.999.999-99" formControlName="cpf" [unmask]="true"></p-inputMask>
            </div>
            <div class="p-field">
                <label for="data">Data de Nascimento</label>
                <p-calendar formControlName="data" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
        <button type="submit" pButton label="Cadastrar" [disabled]="form.invalid"></button>
        <button pButton type="button" label="Login" (click)="loginUsuario()"></button>
    </form>
</block-ui>